
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    margin: 0;
    background-color: rgb(205, 205, 205); 
    text-align: center;
    font-family: Roboto, sans-serif;
}

header {
    background-color: rgb(57, 123, 222); 
    color: white;
    padding-top: 1rem;
}

.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 1.8rem;
    color: white;
    margin-bottom: 10px;
}

.hide {
    display: none;
}

h1 {
    font-size: 3rem;
    letter-spacing: 0.1rem;
}

nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

nav a {
    color: white;
    display: block;
    text-align: center;
    font-size: 1.3rem;
    margin: 10px;
}



h2 {
    margin-top: 30px;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}


.gallery img {
    width: 80%;
    aspect-ratio: 1 / 1; 
    object-fit: cover;
    display: block;
    margin: 10px auto;
    box-shadow: 5px 5px 15px black;
    border: 5px solid white;
}

footer {
    background-color: #3b7ddd;
    color: white;
    padding: 10px;
    margin-top: 20px;
}

/* new */
dialog img {
    width: 90%;
    display: block;
    margin: 20vh auto;
    max-height: 80vh;
}
dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(47, 47, 47, 0.75);
}
.close-viewer {
    position: absolute;
    top: 19%;
    right: 2%;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    font-size: 1.5em;
    border-radius: 0;
    border: none;
    outline: none;
}

.close-viewer:hover {
    background-color: rgb(212, 212, 212);
}



@media (min-width: 700px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .close-viewer {
    right: 3%;
    }
}


@media (min-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr); 
    }

    nav, nav.hide {
        display: flex; 
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    nav a {
        color: white;
        display: inline;
    }

    .menu-btn {
        display: none;
    }

    dialog img {
        width: 50%;
        margin: 15vh auto;
    }
    
    .viewer img {
        max-width: 800px;
    }

    .close-viewer {
    top: 14%;
    right: 23.5%;
    }
}